@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Libre+Barcode+39+Text|Cabin+Sketch:700");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Libre+Barcode+39+Text|Cabin+Sketch:700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  height: 100%;

  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  height: 100%;
  min-height: 100vh;
}
.head {
  font-family: "Fredoka One", cursive;
  font-family: "Cabin Sketch", cursive;
  font-weight: 700;
  font-size: 3em;
}

.cookie {
  position: relative;
  width: 270px;
  height: 355px;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaeaea,
    #ffffff,
    #dbdbdb,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eaeaea, #ffffff, #dbdbdb, #ada996);

  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 35% 35% / 60% 60% 40% 40%;
  transition: 2000ms ease-in-out;
}
.cookie-eye {
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: inset 0 0 0px 3px #82e0f1;
  transition: 3s ease-in-out;

  background-color: #afffffc9;
}
.cookie-eye.active {
  background-color: #b3b1b2;
  box-shadow: inset 0 0 0px 3px #8a8a8a;
}
.cookie-rim {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 35px 10px #9ffef7;
  border-radius: 50%;
  transition: 2s ease-in-out;
}

.cookie-rim.active {
  box-shadow: 0 0 35px 10px #fff !important;
}
.left-foot {
  width: 30px;
  height: 12px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  bottom: -9px;
  left: 26%;
  background: linear-gradient(to bottom, #dfdfdf, #d3d2cf);
  transform: rotate(8deg);
}

.right-foot {
  width: 30px;
  height: 12px;
  background: linear-gradient(to bottom, #f9f9f9, #f4f0e4);
  position: absolute;
  bottom: -9px;
  right: 26%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transform: rotate(-8deg);
}

.news-wrapper {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 189px;
  min-width: 185px;
  height: 75px;

  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 1.9em;
  &:hover {
    transition: all 2s ease-in-out;
    background: linear-gradient(to right, #222, rgb(161, 88, 84));
  }
}

@media only screen and (min-width: 750px) {
  .news {
    font-size: 2.2em;
    margin: 35px;
  }

  .reset h4 {
    font-size: 2em;
    margin: 35px;
  }
}
.good-news:hover {
  background: linear-gradient(to right, #222, rgb(75, 201, 255));
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 1.8em;

  width: 400px;
  min-width: 350px;
  height: 75px;
  cursor: pointer;
}
